@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap');

@media screen and  (min-width: 480px){

    body {
        background-color: hsl(30, 38%, 92%);
     }

   

    main{
        
        display:grid;
        margin: auto;
        margin-top: 70px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 50px);
        gap: 0px;
        width: 200px;
        height: 30px;
        grid-template-areas: 
        "a"
        "a"
        "a"
        "b"
        "c"
        "c"
        "d"
        "d"
        "e"
        "f";
    }

    section{
        background-color: transparent;
        }
   
    
    main :nth-child(1){
        grid-area: a;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    main :nth-child(2){
        grid-area: b;
        padding-top: 20px;
        background-color: white;
    
    }
    main :nth-child(3){
        grid-area: c;
        background-color: white;
    }
    main :nth-child(4){
        grid-area: d;
        background-color: white;
    }
    main :nth-child(5){
        grid-area: e;
        background-color: white;
        text-decoration: hsl(158, 36%, 37%);
        
    }
    main :nth-child(6){
        grid-area: f;
        align-content: center;
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
   
    h1{
        font-family: 'Fraunces';
        font-weight: 700;
        text-transform: capitalize;
        padding-left: 20px;
        color: hsl(212, 21%, 14%);
    }

    .green-heading {
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces';
    }

    p{
        font-family: 'Montserrat';
        padding-left: 20px;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
    }

    .small-paragraph{
        font-family: 'Montserrat';
        padding-left: 20px;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        text-decoration-line: line-through;
    }
    

    button{
        background-color: rgb(54, 192, 54);
        color: white;
        background-color: hsl(158, 36%, 37%);
        font-family: 'Fraunces';
        font-weight: 700;
        border-radius: 3px;
        padding: 10px 10px;
        cursor: pointer;
        text-align: center;
        margin: 0 auto;
        border-style: none;
        width: 150px;
        
    }
    
    button:hover {
        background-color: darkgreen;
    }
  
}

@media screen and  (min-width: 1024px){

    body {
        background-color: hsl(30, 38%, 92%);
     }

   

    main{
        background-color: transparent;
        display:grid;
        margin: auto;
        margin-top: 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 50px);
        gap: 0px;
        width: 600px;
        height: 30px;
        grid-template-areas: 
        "a b"
        "a c"
        "a c"
        "a d"
        "a d"
        "a e"
        "a f";
    }

    section{
        background-color: transparent;
        }
   
    
    main :nth-child(1){
        grid-area: a;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    main :nth-child(2){
        grid-area: b;
        padding-top: 20px;
        background-color: white;
        border-top-right-radius: 10px;
    }
    main :nth-child(3){
        grid-area: c;
        background-color: white;
    }
    main :nth-child(4){
        grid-area: d;
        background-color: white;
    }
    main :nth-child(5){
        grid-area: e;
        background-color: white;
        text-decoration: hsl(158, 36%, 37%);
        
    }
    main :nth-child(6){
        grid-area: f;
        align-content: center;
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
   
    h1{
        font-family: 'Fraunces';
        font-weight: 700;
        text-transform: capitalize;
        padding-left: 20px;
        color: hsl(212, 21%, 14%);
    }

    .green-heading {
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces';
    }

    p{
        font-family: 'Montserrat';
        padding-left: 20px;
        font-size: 14px;
        color: hsl(228, 12%, 48%);

    }

    .small-paragraph{
        font-family: 'Montserrat';
        padding-left: 20px;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        text-decoration-line: line-through;
    }

    button {
        background-color: rgb(54, 192, 54);
        color: white;
        background-color: hsl(158, 36%, 37%);
        font-family: 'Fraunces';
        font-weight: 700;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
        text-align: center;
        margin: 0 auto;
        border-style: none;
    }
    
    button:hover {
        background-color: darkgreen;
    }
  
}

@media screen and  (min-width: 1440px){

    body {
        background-color: hsl(30, 38%, 92%);
     }

   

    main{
        background-color: transparent;
        display:grid;
        margin: auto;
        margin-top: 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 50px);
        gap: 0px;
        width: 600px;
        height: 30px;
        grid-template-areas: 
        "a b"
        "a c"
        "a c"
        "a d"
        "a d"
        "a e"
        "a f";
    }

    section{
        background-color: transparent;
         }
   
    
    main :nth-child(1){
        grid-area: a;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    main :nth-child(2){
        grid-area: b;
        padding-top: 20px;
        background-color: white;
        border-top-right-radius: 10px;
    }
    main :nth-child(3){
        grid-area: c;
        background-color: white;
    }
    main :nth-child(4){
        grid-area: d;
        background-color: white;
    }
    main :nth-child(5){
        grid-area: e;
        background-color: white;
        color: hsl(158, 36%, 37%);
        
    }
    main :nth-child(6){
        grid-area: f;
        align-content: center;
        background-color: white;
        border-bottom-right-radius: 10px;
    }
   
    h1{
        font-family: 'Fraunces';
        font-weight: 700;
        text-transform: capitalize;
        padding-left: 20px;
        color: hsl(212, 21%, 14%);
    }

    .green-heading {
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces';
    }

    p{
        font-family: 'Montserrat';
        padding-left: 20px;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
    }

    .small-paragraph{
        font-family: 'Montserrat';
        padding-left: 20px;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        text-decoration-line: line-through;
    }

    button {
        color: white;
        background-color: hsl(158, 36%, 37%);
        font-family: 'Fraunces';
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        margin: auto;
        display: grid;
        border-style: none;
        width: 200px;
        border-radius: 10px 10px 0 0;
    }
    
    button:hover {
        background-color: darkgreen;
    }
  
}






